/* ---------------- CONTAINER ---------------- */
.container {
  font-family: Arial;
  padding: 20px;
  text-align: center;

  background-image: url("./assets/pic1.jpg");
  background-size: cover;          /* Makes image fill full area */
  background-position: center;     /* Keeps image centered */
  background-repeat: no-repeat;    /* Prevents tiling */
  min-height: 100vh;               /* Full screen height */
}

.sectionTitle {
  margin-top: 30px;
  font-size: 28px;
  font-family: cursive;
  align-items: center;
}



/* ---------------- TITLE ---------------- */
.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-text {
  display: inline-block;
  font-size: 30px;
  animation: rightToLeftScroll 10s linear infinite alternate;
  font-family: cursive;
}

@keyframes rightToLeftScroll {
  from { transform: translateX(-100%); }
  to   { transform: translateX(100); }
}


/* ---------------- SEARCH BOX ---------------- */
.searchBox {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.inputField {
  padding: 10px;
  width: 250px;
  font-size: 16px;
}

/* ---------------- BUTTON ---------------- */
.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: black;
  font-family: cursive;
  background-color: white;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.button:hover {
  background-color: #ffe680;
  transform: scale(1.05);
}

/* ---------------- GRID ---------------- */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* ---------------- CARD ---------------- */
.card {
  border: 3px inset #000000ff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  width: 250px;
  align-items: center;
}

/* ---------------- IMAGE ---------------- */
.cardImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

/* ---------------- LINK BUTTON ---------------- */
.linkButton {
  margin-top: 10px;
  padding: 8px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.linkButton:hover {
  background-color: #bfdbe2;
}
